body {
	background: #FFF;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	}
	
	h1, h2 {
		font-family: 'Old Standard TT', serif;
		font-weight: normal;
	}
		
	h1 {
	    color: #0041C2;
	    font-style: italic;
	}
	
	ol.poem {
	    list-style:none;
	    position:center;
    } 
    
    a {
        text-decoration: none; /* no underline */
    }