body {
	background: #FFF;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	}
	
	h1, h2 {
		font-family: 'Old Standard TT', serif;
		font-weight: normal;
	}
		
	h1 {
	    color: #0041C2;
	    font-style: italic;
	}
    
    a {
        text-decoration: none; /* no underline */
    }
    
    ol.poem {
	    list-style:none;
	    position:center;
    } 
    
    div.about {
        position: relative;
        /* center the element */
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        /* give it dimensions */
        width: 50%;
    }