<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<title>The Mechanical Poet</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300|Old+Standard+TT:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/hint.css" />

    <!--Mechanic by les vieux garçons from The Noun Project-->
</head>

<body>
    <a href="{{ site.baseurl }}/"><h1><img width=70px src="{{ site.baseurl }}/img/mechanic.svg">The Mechanical Poet </h1></a>
    {{ content }}
</body>

</html>